<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <app-header-local-notif></app-header-local-notif>
  <ion-content [fullscreen]="true" style="height: auto;">
    <div class="row background-primary p-5">
      <div class="d-flex justify-content-center align-items-center p-4 border border-2 border-bottom-0 rounded-4 border-black bg-light">
        <div class="col-2">
          <img [src]="tesouraPente" alt="" srcset="">
        </div>
        <div class="col text-center" style="color: black;">
          Navegue por 100 + barbearias
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-center border border-2 rounded-4 border-black bg-light text-primary">
        Agenda seu próximo corte <span class="primary ps-1">agora</span>
      </div>
    </div>
    <div class="row d-flex flex-columns justify-content-center align-items-center p-4">
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <span>Recente</span><br>
          </div>
          <div>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href=""><span class="primary">Ver
                todos</span></a>
          </div>
        </div>
        <div class="mt-2">
          <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true">
            <div class="" *ngFor="let item of items" style="margin-right: 20px;">
              <swiper-slide>
                <div style="width:100px">
                  <div class="w-100 text-center">
                    <img class="img-fluid rounded" src="https://placehold.co/100x100" alt=""><br>
                    <span>{{item.nomeBarbearia}}</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                      <ion-icon name="star-outline"></ion-icon>
                      <span>{{item.nota}}</span>
                    </div>
                    <div class="">
                      <span>{{item.km}}</span>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </div>
          </swiper-container>
        </div>
      </div>
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <span>Recente</span><br>
          </div>
          <div>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href=""><span class="primary">Ver
                todos</span></a>
          </div>
        </div>
        <div class="mt-2">
          <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true">
            <div class="" *ngFor="let item of items" style="margin-right: 20px;">
              <swiper-slide>
                <div style="width:100px">
                  <div class="w-100 text-center">
                    <img class="img-fluid rounded" src="https://placehold.co/100x100" alt=""><br>
                    <span>{{item.nomeBarbearia}}</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                      <ion-icon name="star-outline"></ion-icon>
                      <span>{{item.nota}}</span>
                    </div>
                    <div class="">
                      <span>{{item.km}}</span>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </div>
          </swiper-container>
        </div>
      </div>
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <span>Recente</span><br>
          </div>
          <div>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href=""><span class="primary">Ver
                todos</span></a>
          </div>
        </div>
        <div class="mt-2">
          <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true">
            <div class="" *ngFor="let item of items" style="margin-right: 20px;">
              <swiper-slide>
                <div style="width:100px">
                  <div class="w-100 text-center">
                    <img class="img-fluid rounded" src="https://placehold.co/100x100" alt=""><br>
                    <span>{{item.nomeBarbearia}}</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                      <ion-icon name="star-outline"></ion-icon>
                      <span>{{item.nota}}</span>
                    </div>
                    <div class="">
                      <span>{{item.km}}</span>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </div>
          </swiper-container>
        </div>
      </div>
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <span>Recente</span><br>
          </div>
          <div>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href=""><span class="primary">Ver
                todos</span></a>
          </div>
        </div>
        <div class="mt-2">
          <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true">
            <div class="" *ngFor="let item of items" style="margin-right: 20px;">
              <swiper-slide>
                <div style="width:100px">
                  <div class="w-100 text-center">
                    <img class="img-fluid rounded" src="https://placehold.co/100x100" alt=""><br>
                    <span>{{item.nomeBarbearia}}</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                      <ion-icon name="star-outline"></ion-icon>
                      <span>{{item.nota}}</span>
                    </div>
                    <div class="">
                      <span>{{item.km}}</span>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </div>
          </swiper-container>
        </div>
      </div>
      <div class="my-3">
        <div class="d-flex justify-content-between">
          <div class="">
            <span>Recente</span><br>
          </div>
          <div>
            <a class="link-offset-2 link-underline link-underline-opacity-0" href=""><span class="primary">Ver
                todos</span></a>
          </div>
        </div>
        <div class="mt-2">
          <swiper-container slides-per-view="3" speed="500" loop="true" css-mode="true">
            <div class="" *ngFor="let item of items" style="margin-right: 20px;">
              <swiper-slide>
                <div style="width:100px">
                  <div class="w-100 text-center">
                    <img class="img-fluid rounded" src="https://placehold.co/100x100" alt=""><br>
                    <span>{{item.nomeBarbearia}}</span>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                      <ion-icon name="star-outline"></ion-icon>
                      <span>{{item.nota}}</span>
                    </div>
                    <div class="">
                      <span>{{item.km}}</span>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </div>
          </swiper-container>
        </div>
      </div>
    </div>
  </ion-content>
</div>
