<nb-card size="tiny" [nbSpinner]="loading" style="width: 400px">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <nb-card class="card-padding" size="tiny" [nbSpinner]="loading">
      <nb-card-header>Selecionar de Serviços
        <button type="button" nbButton ghost class="close float-end" (click)="close()" size="tiny">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body class="pt-4 p-1">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <nb-select multiple placeholder="Selecione Serviço" formControlName="servico" style="width: 360px">
              <nb-option *ngFor="let servico of comboServicos" value="{{servico.id_servico}}">{{servico.nome}}
              </nb-option>
            </nb-select>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer class="d-flex flex-row-reverse">
        <button type="submit" nbButton outline status="primary" class="mx-1" [disabled]="!formulario.valid">
          Salvar
        </button>
        <button nbButton outline status="danger" (click)="close()" class="mx-1">
          Fechar
        </button>
      </nb-card-footer>
    </nb-card>
  </form>
</nb-card>