<div class="header-container">
  <div class="logo-container">
    <a href="#" (click)="toggleSidebar()" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#"><img class="img-fluid" [src]="logoHeader"></a>
  </div>
  <!-- <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
  <nb-toggle></nb-toggle> -->
</div>
<div class="header-container">
  <nb-toggle (checkedChange)="changeTheme($event)" ></nb-toggle>
</div>
