
<ion-content [fullscreen]="true">
  <div id="container">
    <div class=" background-primary p-5">
      <div
        class="d-flex justify-content-center align-items-center p-4 border  border-2 border-bottom-0 rounded border-black bg-light">
        <div class="col-2">
          <img [src]="tesouraPente" alt="" srcset="">
        </div>
        <div class="col text-center">
          Navegue por 100 + barbearias
        </div>
      </div>
      <div
        class="d-flex justify-content-center align-items-center border border-2 rounded border-black bg-light text-primary">
        Agenda seu próximo corte <span class="primary ps-1">agora</span>
      </div>
    </div>
  </div>
</ion-content>