<div class="row justify-content-center">
  <section class="col-md-4">
    <ul>
      <li>
        <a href="/conta">
          <span class="icon"></span>
          <span>Detalhes da Conta</span>
        </a>
      </li>
      <li>
        <a href="/seguranca">
          <span class="icon"></span>
          <span>Segurança</span>
        </a>
      </li>
      <li>
        <a href="/privacidade">
          <span class="icon"></span>
          <span>Privacidade</span>
        </a>
      </li>
      <li>
        <a href="/pagamento">
          <span class="icon"></span>
          <span>Métodos de pagamento</span>
        </a>
      </li>
      <li>
        <a href="/historico">
          <span class="icon"></span>
          <span>Atividade da Conta</span>
        </a>
      </li>
    </ul>
  </section>
  <section class="col-md">

  </section>
</div>
