<div id="sobre" class="container">
  <div class="p-4 p-md-5 mb-4  text-body-emphasis bg-body-secondary">
    <div class=" px-0">
      <h1 class="display-5 fst-italic">Descubra o sabor e a paixão do café no Café Delícia</h1>
      <p class="lead my-3">Bem-vindo ao Café Delícia, o refúgio perfeito para os amantes do café. Aqui, oferecemos uma experiência única, onde você pode explorar uma variedade de sabores e aromas de café cuidadosamente selecionados. Nossos especialistas em café preparam cada xícara com maestria, garantindo que você aprecie a riqueza e a complexidade dessa deliciosa bebida. Além disso, oferecemos um ambiente acolhedor, onde nossos baristas estão prontos para compartilhar conhecimentos e contar histórias fascinantes sobre o universo do café.</p>
      <p class="lead my-3">No Café Delícia, valorizamos a sustentabilidade e trabalhamos com fornecedores comprometidos com práticas éticas e ambientalmente responsáveis. Cuidamos para que cada grão de café seja cultivado de forma sustentável, contribuindo para o bem-estar das comunidades produtoras. Seja você um apreciador de café experiente ou alguém que está apenas começando a explorar esse mundo fascinante, convidamos você a se juntar a nós no Café Delícia e descobrir o que torna esse lugar um destino obrigatório para todos os amantes dessa maravilhosa bebida.</p>
    </div>
  </div>
</div>