<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row d-flex">
      <div class="col-2 border">
        filtro
      </div>
      <div class="col">
        <div class="row text-center mb-5">
          <h1>Produtos</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="itens[0]" alt="" class="img-fluid p-3">
              <div class="card-body border-top border-3">
                <p class="card-text fs-6">

                  <a href="item"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>
                      <h3>Computador Gamer Supremo</h3>
                    </strong><br></a>

                  Desafios virtuais nunca foram tão emocionantes. Especificações sujeitas a variações. Contate-nos para
                  detalhes atuais.
                </p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning">Add carinho</button>
                    <button type="button" class="btn btn-sm btn-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="itens[0]" alt="" class="img-fluid p-3">
              <div class="card-body border-top border-3">
                <p class="card-text fs-6">

                  <a href="item"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>
                      <h3>Computador Gamer Supremo</h3>
                    </strong><br></a>

                  Desafios virtuais nunca foram tão emocionantes. Especificações sujeitas a variações. Contate-nos para
                  detalhes atuais.
                </p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning">Add carinho</button>
                    <button type="button" class="btn btn-sm btn-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="itens[0]" alt="" class="img-fluid p-3">
              <div class="card-body border-top border-3">
                <p class="card-text fs-6">

                  <a href="item"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>
                      <h3>Computador Gamer Supremo</h3>
                    </strong><br></a>

                  Desafios virtuais nunca foram tão emocionantes. Especificações sujeitas a variações. Contate-nos para
                  detalhes atuais.
                </p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning">Add carinho</button>
                    <button type="button" class="btn btn-sm btn-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="itens[0]" alt="" class="img-fluid p-3">
              <div class="card-body border-top border-3">
                <p class="card-text fs-6">

                  <a href="item"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>
                      <h3>Computador Gamer Supremo</h3>
                    </strong><br></a>

                  Desafios virtuais nunca foram tão emocionantes. Especificações sujeitas a variações. Contate-nos para
                  detalhes atuais.
                </p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning">Add carinho</button>
                    <button type="button" class="btn btn-sm btn-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="itens[0]" alt="" class="img-fluid p-3">
              <div class="card-body border-top border-3">
                <p class="card-text fs-6">

                  <a href="item"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>
                      <h3>Computador Gamer Supremo</h3>
                    </strong><br></a>

                  Desafios virtuais nunca foram tão emocionantes. Especificações sujeitas a variações. Contate-nos para
                  detalhes atuais.
                </p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning">Add carinho</button>
                    <button type="button" class="btn btn-sm btn-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img [src]="itens[0]" alt="" class="img-fluid p-3">
              <div class="card-body border-top border-3">
                <p class="card-text fs-6">

                  <a href="item"
                    class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"><strong>
                      <h3>Computador Gamer Supremo</h3>
                    </strong><br></a>

                  Desafios virtuais nunca foram tão emocionantes. Especificações sujeitas a variações. Contate-nos para
                  detalhes atuais.
                </p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-warning">Add carinho</button>
                    <button type="button" class="btn btn-sm btn-danger">Comprar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>