<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="card-title">Servicos</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <tr *ngFor="let item of lista_servicos">
                <td>{{ item.id_servico }}</td>
                <td>{{ item.nome }}</td>
                <td>{{ item.descricao }}</td>
                <td>{{ item.valor }}</td>
                <td>{{ item.duracao }}</td>
                <td>{{ item.categoria }}</td>
              </tr>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</div>


<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descricao</th>
      <th scope="col">Valor</th>
      <th scope="col">Duracao</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of lista_servicos"><td>{{ item.id_servico }}</td></tr>
    <tr *ngFor="let item of lista_servicos"><td>{{ item.id_nome }}</td></tr>
    <tr *ngFor="let item of lista_servicos"><td>{{ item.id_descricao }}</td></tr>
    <tr *ngFor="let item of lista_servicos">R$<td>{{ item.id_valor }}</td></tr>
    <tr *ngFor="let item of lista_servicos"><td>{{ item.id_duracao }}</td></tr>
    <tr *ngFor="let item of lista_servicos"><td>{{ item.id_categoria }}</td></tr>
  </tbody>
</table> -->
<!-- Testei e deu errado :P -->
