<nb-card nbSpinnerStatus="primary" nbSpinnerSize="large">
    <nb-card-header>
        Colaboradores
        <nb-button-group style="float:right" status="basic" size="small"filled>
            <button nbButton (click)="getDados()" nbPopover="Atualizar">
                <nb-icon icon="refresh-outline"></nb-icon>
            </button>
            <button nbButton nbPopover="Download">
                <nb-icon icon="download-outline"></nb-icon>
            </button>
        </nb-button-group>
    </nb-card-header>
    <nb-card-body>
        <angular2-smart-table [nbSpinner]="loading" [settings]="settings" [source]="source" (create)="showDialog(0,'POST')" (custom)="onOptions($event)"></angular2-smart-table>
    </nb-card-body>
</nb-card>
