<app-banner></app-banner>
<div id="sobre" class="container-flud m-1">
    <div class="container bg-body-secondary">
        <div class="p-4 p-md-5 mb-2  text-body-emphasis ">
            <div class=" px-0">
                <h1 class="display-5 fst-italic">Bem-vindo à "GameWorld"!</h1>
                <p class="lead my-3">A GameWorld nasceu de uma garagem modesta onde os fundadores costumavam se reunir
                    para
                    jogar seus jogos favoritos. O que começou como uma paixão compartilhada rapidamente se transformou
                    em um sonho
                    - criar um lugar onde jogadores de todos os cantos do mundo pudessem encontrar os melhores jogos e
                    acessórios
                    com facilidade e confiança.</p>
                <p class="lead my-3">Com dedicação e muitas noites sem dormir, nossa pequena equipe de entusiastas de
                    jogos
                    cresceu e expandiu-se, tornando-se uma loja online líder em jogos para PC, console e dispositivos
                    móveis.
                    Hoje, somos reconhecidos por nossa vasta seleção de títulos, preços competitivos e um compromisso
                    inabalável
                    com a satisfação do cliente.</p>
            </div>
        </div>
    </div>
</div>

<div class="container mb-2">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="../assets/img/marcas/Intel.png" alt="">
                <div class="card-body d-flex justify-content-between">
                    <h3>Intel</h3>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Produtos</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="../assets/img/marcas/mancer.jpg" alt="">
                <div class="card-body d-flex justify-content-between">
                    <h3>Mancer</h3>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Produtos</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <img src="../assets/img/marcas/asus.png" alt="">
                <div class="card-body d-flex justify-content-between">
                    <h3>Asus</h3>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Produtos</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7 order-md-2 d-flex flex-wrap align-items-baseline">
            <h2 class="text-center col-12 mt-3">Conheça o PC Gamer Ultra-X</h2>
            <div class="p-4">
                <p class="lead">O PC Gamer Ultra-X é a máquina que você precisa para elevar seu desempenho nos jogos a
                    um nível totalmente novo. Equipado com o processador mais poderoso e uma placa de vídeo de última
                    geração, este PC é a chave para desbloquear seu verdadeiro potencial no mundo dos games. Não aceite
                    nada menos do que a perfeição. Prepare-se para uma experiência de jogo imersiva e sem igual. Jogue
                    como um verdadeiro herói com o PC Gamer Ultra-X.
                </p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../assets/img/itens/pc-home.webp" alt="">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7 d-flex flex-wrap align-items-baseline">
            <h2 class="text-center col-12 mt-3">Monitor Gamer HD Pro</h2>
            <div class="p-4">
                <p class="lead">Experimente os jogos de uma maneira totalmente nova com o Monitor Gamer HD Pro. Com uma
                    taxa de atualização incrível e resolução de tirar o fôlego, cada jogo se torna uma aventura épica.
                    Mergulhe em mundos virtuais e sinta cada explosão, cada movimento, como se estivesse lá. Não perca
                    mais nenhum detalhe e leve sua experiência de jogo a outro patamar com o Monitor Gamer HD Pro.
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../assets/img/itens/monitor-home.jpg" alt="">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7 order-md-2 d-flex flex-wrap align-items-baseline">
            <h2 class="text-center col-12 mt-3">Conforto Supremo: Cadeira Gamer Elite-X</h2>
            <div class="p-4">
                <p class="lead">
                    Nada pode parar um gamer bem equipado, e a Cadeira Gamer Elite-X é a escolha definitiva
                    para quem leva os jogos a sério. Desenhada para conforto supremo e estilo impecável, esta cadeira
                    proporciona apoio ergonômico durante as longas sessões de jogo. Não se contente com menos do que o
                    melhor. Domine seus oponentes com conforto e estilo, e alcance a vitória com a Cadeira Gamer
                    Elite-X.
                </p>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../assets/img/itens/cadeira-home.webp" alt="">
        </div>
    </div>
    <hr class="featurette-divider">
</div>
<div class="container">
    <div class="row featurette">
        <div class="col-md-7 d-flex flex-wrap align-items-baseline">
            <h2 class="text-center col-12 mt-3">Entre em contato</h2>
            <div class="p-4 col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
        <div class="col-md-5">
            <img src="../assets/img/atendimento-home.webp" alt="">
        </div>
    </div>
</div>