<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="row">
        <div class="w-75 d-flex justify-content-end align-items-center">
          R. Aparecida Cazal,75
          <ion-button fill="clear" size="small"><i class="bi bi-chevron-down primary"></i></ion-button>
        </div>
        <div class="w-25 d-flex justify-content-end align-items-center pe-4">
          <i class="bi bi-bell fs-4 primary"></i>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
</ion-menu>